body{
    background-color: silver;
}

header{
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

footer{
   // position: fixed;
    bottom: 0;
    width: 100%;
    background-color: slategray;
    color: snow;
    padding: 15px;
    text-align: center;
    text-shadow: 0 0 3px black;
}

em{
    border: 1px solid red;
    background-color: rgb(245, 178, 178);
    color: red;
    padding: 15px;
    margin: 15px;
    position: relative;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: slategray;
}

.menu li{
    border-bottom: 1px dashed gray;
    display: inline-block;
}

.menu li a{
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 3px black;
    cursor: pointer;
    background-color: slategray;
    transition: 0.6s all;
}

.menu li a:hover{
    background-color: black;
    transition: 0.3s all;
}

#chartContainer{
    height: 500px; 
    width: 100%;
}

#calContainer{
    background-color: white;
}

.img-thumbnail{
    max-height: 200px;
}