<%- include('header') %>

<%- include('menu') %>


<script>
document.addEventListener('DOMContentLoaded', function() {
    var initialLocaleCode = 'en';
  
    var calendarEl = document.getElementById('calContainer');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },
      initialDate: '<%= aktDate %>',
      locale: initialLocaleCode,
      buttonIcons: false, // show the prev/next text
      weekNumbers: true,
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      dayMaxEvents: true, // allow "more" link when too many events
      events: [
          <%- str %>
      ]
    });

    calendar.render();

  });
</script>

<div class="container">
    <main class="form-signin">
        <br>
        <h1>Calendar view</h1>
        <hr>
        <div id="calContainer"></div>
    </main>
</div>


<%- include('footer') %>