        <footer>Created by: Bajai SZC Türr István Technikum - 2/14.SZFT</footer>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/fullcalendar.min.js"></script>
        <script src="../js/locales-all.js"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </body>
</html>