<%- include('header') %>

<%- include('menu') %>

<div class="container">
    <h3>Welcome here dear <%= uname %>!</h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi ratione error blanditiis nemo molestiae, repellat sit itaque, vero numquam sunt, quibusdam quae asperiores laborum culpa. Vitae sunt libero ea ratione.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque non nobis tempora necessitatibus eligendi earum, perspiciatis ducimus ab porro quae, pariatur consequuntur, optio odit ratione! Officiis, ab. Voluptate, distinctio rerum.
    </p>
</div>

<%- include('footer') %>