<div class="login-form container">
    <h3>Login form</h3>
    <form action="/login" method="post">
        <% if (hiba){
            %>
            <div class="form-group">
            <em><%= hiba %></em>
            </div>
            <%
        } %>
        <div class="form-group">
            <input type="email" name="email" placeholder="E-mail address" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="password" name="passwd" placeholder="Password" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary">
        </div>    
    </form>
    <a href="/reg">Registration...</a>
</div>
