<%- include('header') %>

<%- include('menu') %>

<div class="container">
    <main class="form-signin">
        <form action="/newdata" method="POST">
            <br>
            <h1 class="h3 mb-3 fw-normal">Add new stepcount</h1>
            <hr>
            <% if (eMsg) {
                %> <em> <%= eMsg %> </em> <%
            } %>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" name="datum" value="<%= aktDate %>" max="<%= aktDate %>" required>
            </div>
            <div class="form-group">
                <label for="stepcount">Stepcount:</label>
                <input type="number" class="form-control" name="stepcount" min="0" value="0" required>
            </div>
            <div class="form-group">
                <input class="btn btn-lg btn-primary" type="submit" value="Submit">
            </div>
        </form>
    </main>
</div>


<%- include('footer') %>