<%- include('header') %>

<%- include('menu') %>

<div class="login-form container">
    <br>
    <h3>Password change</h3>
    <hr>
    <% if (hiba){
        %>
        <div class="form-group">
        <em><%= hiba %></em>
        </div>
        <%
    } %>
    <form action="/passmod" method="post">
        <div class="form-group">
            <input type="password" name="oldpass" placeholder="Old password" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="password" name="newpass1" placeholder="New password" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="password" name="newpass2" placeholder="New password confirm" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Change password" class="btn btn-primary">
        </div>
    </form>
</div>

<%- include('footer') %>