<%- include('header') %>

<%- include('menu') %>

<div class="login-form container">
    <br>
    <h3>Profil change</h3>
    <hr>
    <% if (hiba){
        %>
        <div class="form-group">
        <em><%= hiba %></em>
        </div>
        <%
    } %>
    <form action="/profilmod" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" name="username" value="<%= profilData.name %>" placeholder="Username" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="email" name="email"  value="<%= profilData.email %>" placeholder="E-mail address" class="form-control" required>
        </div>
        <% if (profilData.pic == '') { %>
        <div class="form-group">
            <label for="profilPicture">Profil picture:</label>
            <input type="file" name="profilPicture" class="form-control" accept="image/*">
        </div>
        <% } else { %>
            <img src="uploads/<%= profilData.pic %>" alt="profilpicture" class="img-thumbnail">
            <a href="/profilPicDel" class="btn btn-danger">Remove</a>
        <% } %>
        <div class="form-group">
            <label for="reg">Regisrtation date:</label>
            <input type="text" name="reg" value="<%= moment(profilData.reg).format('YYYY-MM-DD') %>" class="form-control" disabled>
        </div>
        <div class="form-group">
            <label for="last">Last login date:</label>
            <input type="text" name="last" value="<%= moment(profilData.last).fromNow() %>" class="form-control" disabled>
        </div>
        <div class="form-group">
            <input type="submit" value="Change profil" class="btn btn-primary">
        </div>
    </form>
</div>

<%- include('footer') %>