
<div class="login-form container">
    <h3>Registration form</h3>

    <form action="/reg" method="post">
        
        <% if (hiba){
            %>
            <div class="form-group">
            <em><%= hiba %></em>
            </div>
            <%
        } %>
       
        <div class="form-group">
            <input type="text" name="name" placeholder="Username" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="email" name="email" placeholder="E-mail address" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="password" name="passwd1" placeholder="Password" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="passwd2" placeholder="Password confirm" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Registration" class="btn btn-primary">
        </div>
        
    </form>
    <a href="/">Back to login...</a>
</div>
