<%- include('header') %>

<%- include('menu') %>

<div class="container">
    <main class="form-signin">
        <br>
        <h1>Table view</h1>
        <hr>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th class="text-right">Stepcount</th>
                    <th class="text-right">Options</th>
                </tr>
            </thead>
            <tbody>
                <% for(i=0;i<results.length;i++) { %>
                    <tr>
                        <td><%= moment(results[i].date).format('YYYY-MM-DD') %></td>
                        <td class="text-right"><%= results[i].stepcount %></td>
                        <td class="text-right"><a href="/deletestep/<%= results[i].ID %>">Delete</a></td>
                    </tr>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Summary: <%= results.length %> recodrs</td>
                </tr>
            </tfoot>
        </table>
    </main>
</div>


<%- include('footer') %>