<%- include('header') %>

<%- include('menu') %>

<div class="container">
    <main class="form-signin">
        <br>
        <h1>Manage users</h1>
        <hr>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Profil</th>
                    <th>Name</th>
                    <th >E-mail address</th>
                    <th>Reg. date</th>
                    <th>Last login date</th>
                    <th class="text-right">Options</th>
                </tr>
            </thead>
            <tbody>
                <% for(i=0;i<results.length;i++) { %>
                    <tr>
                        <td><%
                            if (results[i].pic == '')
                            {
                                %> <img src="uploads/nouser.jpg" class="img-thumbnail"> <%
                            }
                            else
                            {
                                %> <img src="uploads/<%= results[i].pic %>" class="img-thumbnail"> <%
                            }
                            
                            
                            
                            %></td>
                        <td ><%= results[i].username %></td>
                        <td ><%= results[i].email %></td>
                        <td ><%= moment(results[i].reg).format('YYYY-MM-DD') %></td>
                        <td ><%= moment(results[i].last).format('YYYY-MM-DD') %></td>
                        <td class="text-right"><a href="#">Edit</a></td>
                    </tr>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">Summary: <%= results.length %> users</td>
                </tr>
            </tfoot>
        </table>
    </main>
</div>


<%- include('footer') %>